/*---Declaration des Variables---*/
:root
{
    --primaire: #1DB954;
    --secondaire: #212121;
    --terciaire: #121212;
    --texte: #B3B3B3;
}

/*---Globalité---*/
*
{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    background-color: var(--secondaire);
    color: var(--texte);
}

header
{    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    background-color: var(--primaire);
    color: var(--terciaire);
    
    padding: 2% 2%;
    
    bottom: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    font-weight: bold;
}

h1
{
    margin-left: 2%; 
    font-size: larger;
}
h3
{
    font-size: medium;
}
h4
{
    font-size: small;
}

hr
{
    border-bottom: solid 1px var(--primaire);
}
nav
{
    background-color: var(--primaire);
    color: var(--terciaire);
    
    padding: 10px;
    width: 100%;
    top: 0;
    z-index: 1;
    
    position: fixed;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-weight: bold;
}

nav #titre
{
    --p: 50px;
    
    background-color: var(--primaire);
    
    position: absolute;
    
    top: 40%;
    padding-bottom: 1.5em;
    
    margin: 0 25%;
    
    width: 50%;
    height: 60%;
    
    text-align: center;
    font-size: x-large;
    
    /*trapeze*/
    aspect-ratio: 3/2;
    clip-path: polygon(var(--p) 100%, calc(100% - var(--p)) 100%, 100% 0, 0 0);
}

/*---Recherche---*/
#barreRecherche
{
    margin: 5%;
    padding: 2em;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#barreRecherche div, #recherche
{
    background-color: var(--secondaire);
    padding: 2px;
}

#barreRecherche img
{
    max-width: 30px;
    height: 30px;
    
    padding-top: 5px;
}

#recherche
{
    color: var(--texte);
    
    width: 70%;
    outline: none;
    
    border: 2px solid var(--primaire);
    border-right-style: hidden;
    border-left-style: hidden;
}

#btnRecherche
{
    border: 2px solid var(--primaire);
    border-right-style: hidden;
    
    cursor: pointer;
}

#btnFiltre
{
    border: 2px solid var(--primaire);
    border-left-style: hidden;
    
    cursor: pointer;
}

/*---Recomandation---*/
#recommandations
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Couverture des cartes*/
.couverture
{
    background-color: var(--secondaire);
    
    padding: 2%;
    margin: 2%;
    
    display: flex;
    justify-content: center;
}

.couverture img
{
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

/*Musiques*/
.carteMusique
{
    background-color: var(--terciaire);
    padding: 2px;
    margin: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    overflow: hidden;
    
    cursor: pointer;
}

.description
{
    background-color: var(--secondaire);
    position: relative;
    
    width: 45%;
    height: 230px;
    
    padding: 2px;
    margin: 2%;
    
    border-radius: 20px;
}

.description h2 {
    margin-bottom: 5px;
}

.description p
{
    max-height: 100%;
    
    width: 100%;
    margin: 2px;
    
    font-size: medium;
    
    /*Gestion du depassement*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.carteMusique .couverture
{   
    width: 55%;
    height: 230px;
}

.listeTags
{
    position: absolute;
    bottom: 5px;
    
    width: 100%;
    margin: 10px 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.tag
{
    background-color: var(--primaire);
    color: var(--terciaire);

    padding: 5px;
    height: 20px;
    width: 70px;
    
    border-radius: 40px;  
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag span 
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    font-size: small;
    
    cursor: pointer;
}

.tag:nth-child(3)
{
    width: fit-content;
}

/*Albums*/
#playlists
{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    overflow: hidden;
}

.cartePlaylist
{
    background-color: var(--terciaire);
    
    width: 28%;
    
    padding: 2px;
    margin: 2%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    
    cursor: pointer;
}

.cartePlaylist .couverture
{   
    height: 95%;
}

/*--Mode pc--*/
@media (orientation: landscape) and (min-width: 900px)
{
    /*Musiques*/
    #musiques, #playlists
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .carteMusique, .cartePlaylist
    {
        background-color: var(--terciaire);
    
        width: 25%; /*La carte n'occupe plus toute la largeur*/
        
        padding: 2px;
        margin: 30px;
    
        display: flex;
        flex-direction: column; /*En colonne plutôt qu'en ligne*/
        justify-content: space-evenly;
    
        overflow: hidden;
    }

    .description
    {
        background-color: var(--secondaire);
        border-radius: 20px;

        width: 95%; /*plus large*/
        height: 200px;
        position: relative;

        padding: 2px;
        margin: 2%;
    }

    .couverture
    {
        background-color: var(--secondaire);
 
        width: 95%;
        height: 200px;

        padding: 2px;
        margin: 2%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .carteMusique .couverture
    {
        width: 95%;
    }
    
    .couverture img
    {   
        height: 100%;
        width: 100%;
    
        object-fit: cover;
    }   
    
}
